* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: white;
    font-family: system-ui;
}

.curd {
    width: 80%;
    margin: auto;
}

.head {
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;

}

input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    margin: 4px 0;
    background-color: #111;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

input:focus {
    transform: scale(1.1);
    background-color: black;
}

.price input {
    width: 20%;
}

#total {
    background-color: #a00d02;
    padding: 5px 2px;
    border-radius: 5px;
}

#total::before {
    content: 'Total:';
}

button {
    width: 100%;
    height: 30px;
    background-color: #390053;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: .5s;
}

button:hover {
    background-color: #51025f;
    letter-spacing: 1px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;

}

.btnSearch button {
    width: 45%;
}

#search {
    margin: 5px 0;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;

}

th {
    text-transform: uppercase;
}

th,
td {
    padding: 5px;
}

#deleteAllBtn {
    margin: 30px 0;
}
/* Scroll Back To Top Button */
#scrollBtn{
    font-size: 35px;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}